<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>BidRequest</servlet-name>
  	<display-name>BidRequest</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.BidRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>tag</servlet-name>
  	<display-name>tag</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.tag</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApplicationInit</servlet-name>
  	<display-name>ApplicationInit</display-name>
  	<description></description>
  	<servlet-class>com.atg.openssp.common.core.system.ApplicationInit</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>BidRequest2</servlet-name>
  	<display-name>BidRequest2</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.BidRequest2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BidRequest3</servlet-name>
  	<display-name>BidRequest3</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.BidRequest3</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestUA1</servlet-name>
  	<display-name>TestUA1</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.TestUA1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BidReq</servlet-name>
  	<display-name>BidReq</display-name>
  	<description></description>
  	<servlet-class>com.admaru.ja.servlet.BidReq</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BidNHNRequest</servlet-name>
  	<display-name>BidNHNRequest</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.BidNHNRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NHNCookieDrop</servlet-name>
  	<display-name>NHNCookieDrop</display-name>
  	<description></description>
  	<servlet-class>com.admaru.ja.servlet.NHNCookieDrop</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>nhnace_imp</servlet-name>
  	<display-name>nhnace_imp</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.nhnace_imp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BidNHNLocalTest</servlet-name>
  	<display-name>BidNHNLocalTest</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.BidNHNLocalTest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BidNHNRequest2</servlet-name>
  	<display-name>BidNHNRequest2</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.BidNHNRequest2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NasmediaAdmixer</servlet-name>
  	<display-name>NasmediaAdmixer</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.NasmediaAdmixer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestNHNCookie</servlet-name>
  	<display-name>TestNHNCookie</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.TestNHNCookie</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Tracker</servlet-name>
  	<display-name>Tracker</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.Tracker</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>vast_imp</servlet-name>
  	<display-name>vast_imp</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.vast_imp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>vast_complete</servlet-name>
  	<display-name>vast_complete</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.vast_complete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>vast_progress</servlet-name>
  	<display-name>vast_progress</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.vast_progress</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>vast_click</servlet-name>
  	<display-name>vast_click</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.vast_click</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>vast_button_click</servlet-name>
  	<display-name>vast_button_click</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.vast_button_click</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>vast_skip</servlet-name>
  	<display-name>vast_skip</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.vast_skip</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MezzoVideo</servlet-name>
  	<display-name>MezzoVideo</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.MezzoVideo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MezzoTracker</servlet-name>
  	<display-name>MezzoTracker</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.MezzoTracker</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NasmediaPrebid</servlet-name>
  	<display-name>NasmediaPrebid</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.NasmediaPrebid</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NasmediaTracker</servlet-name>
  	<display-name>NasmediaTracker</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.NasmediaTracker</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NasmediaDisplay</servlet-name>
  	<display-name>NasmediaDisplay</display-name>
  	<description></description>
  	<servlet-class>com.admaru.servlet.NasmediaDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BidRequest</servlet-name>
  	<url-pattern>/BidRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>tag</servlet-name>
  	<url-pattern>/tag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationInit</servlet-name>
  	<url-pattern>/ApplicationInit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BidRequest2</servlet-name>
  	<url-pattern>/BidRequest2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BidRequest3</servlet-name>
  	<url-pattern>/BidRequest3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestUA1</servlet-name>
  	<url-pattern>/TestUA1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BidReq</servlet-name>
  	<url-pattern>/BidReq</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BidNHNRequest</servlet-name>
  	<url-pattern>/BidNHNRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NHNCookieDrop</servlet-name>
  	<url-pattern>/NHNCookieDrop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>nhnace_imp</servlet-name>
  	<url-pattern>/nhnace_imp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BidNHNLocalTest</servlet-name>
  	<url-pattern>/BidNHNLocalTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BidNHNRequest2</servlet-name>
  	<url-pattern>/BidNHNRequest2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NasmediaAdmixer</servlet-name>
  	<url-pattern>/NasmediaAdmixer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestNHNCookie</servlet-name>
  	<url-pattern>/TestNHNCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Tracker</servlet-name>
  	<url-pattern>/Tracker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>vast_imp</servlet-name>
  	<url-pattern>/vast_imp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>vast_complete</servlet-name>
  	<url-pattern>/vast_complete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>vast_progress</servlet-name>
  	<url-pattern>/vast_progress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>vast_click</servlet-name>
  	<url-pattern>/vast_click</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>vast_button_click</servlet-name>
  	<url-pattern>/vast_button_click</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>vast_skip</servlet-name>
  	<url-pattern>/vast_skip</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MezzoVideo</servlet-name>
  	<url-pattern>/MezzoVideo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MezzoTracker</servlet-name>
  	<url-pattern>/MezzoTracker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NasmediaPrebid</servlet-name>
  	<url-pattern>/NasmediaPrebid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NasmediaTracker</servlet-name>
  	<url-pattern>/NasmediaTracker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NasmediaDisplay</servlet-name>
  	<url-pattern>/NasmediaDisplay</url-pattern>
  </servlet-mapping>
</web-app>
